* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  overflow: hidden;
}

body {
  --color-light: #000;
  max-height: 100vh;
  overflow: hidden;
}

body.active {
  --color-light: #fff;
  background: #000b09;
}

section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}

section::before {
  background: linear-gradient(#fd1e0033, #ff6347);
  border-radius: 50%;
  content: "";
  height: 220px;
  position: absolute;
  transform: translate(180px, 180px);
  width: 220px;
}
section::after {
  background: linear-gradient(#ddb503, #3cff01c5);
  border-radius: 50%;
  content: "";
  height: 220px;
  position: absolute;
  transform: translate(-180px, -180px);
  width: 220px;
}

.box {
  align-items: center;
  backdrop-filter: blur(5px);
  background: #ffffff1a;
  border: solid 3px #ffffff1a;
  border-radius: 20px;
  box-shadow: 0 20px 40px #00000040;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
  width: 300px;
  z-index: 200;
}
h1 {
  color: #2ab600c5;
  font-size: 30px;
}

.batteryShap {
  border: 6px solid var(--color-light);
  border-radius: 12px;
  height: 100px;
  margin: 20px;
  position: relative;
  width: 210px;
}

.batteryShap::before {
  background: var(--color-light);
  border: 1px solid;
  border-radius: 4px;
  content: "";
  height: 30px;
  position: absolute;
  transform: translate(108px, 30px);
  width: 7px;
}
.batteryShap::after {
  background: #ffffff1a;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.level {
  border-radius: 8px;
  inset: 4px;
  position: absolute;
}

#percentage {
  background: linear-gradient(90deg, #3cff01c5, #ff6347);
  border-radius: 8px;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 50%;
}

#percent {
  color: #ff6347;
  font-size: 30px;
  font-weight: 600;
}

#theme {
  border: #333 solid;
  border-radius: 50%;
  color: var(--color-light);
  cursor: pointer;
  height: auto;
  padding: 9px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 30px;
  width: 40px;
}
